<div class="row">
  <div class="col-md-12">
    <div ng-show="err" class="bg-danger">{{err}}</div>
    <div ng-show="msg" class="bg-success">{{msg}}</div>
    <div class="responsive-table">
      <table class="table table-hover">
        <thead>
          <th>Category</th>
          <th>Title</th>
          <th>Author</th>
          <th>Comment</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="gift in ctrl.entries" 
              ng-mouseenter="showEditButton = true" 
              ng-mouseleave="showEditButton = false">
            <td data-title="Category">
              {{ categories[gift.category].name }}
            </td>
            <td data-title="Title">
                <a ng-if="gift.link" ng-href="{{gift.link}}">{{ gift.name }}</a>
                <span ng-if="!gift.link">{{ gift.name }}</span>
            </td>
            <td data-title="Author">
              {{ gift.author }}
            </td>
            <td data-title="Comment">
              {{ gift.comment }}
            </td>
            <td data-title="" class="btn-holder no-header">
              <input type="text" placeholder="Comment" ng-show="editMode === $index"
                  ng-model="purchase.comment" class="form-control input-sm" />
              <button class="btn btn-primary btn-xs"
                  ng-click="startPurchase($index)" 
                  ng-show="showEditButton && !(editMode === $index)">
                Purchase
              </button>
              <div class="btn-toolbar" role="group" ng-if="editMode === $index">
                <button type="button" class="btn btn-primary btn-xs" ng-click="addPurchase(gift, purchase.comment)">Save</button>
                <button type="button" class="btn btn-primary btn-xs" ng-click="cancelPurchase()">Cancel</button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="delete(Purchase)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
